.card h3 {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    color: white;
    border-bottom: black solid 0.1em;
    margin: 0.3em;
    padding: 0;
}


.card {
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Preahvihear', sans-serif;
    background-color: grey;
    box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 1);
    transition: transform 0.1s ease-in-out;
}

.poke-img,
.poke-img-shiny {
    width: 100%;
}

.poke-img-shiny {
    display: none;
}


.card-body {
    background-color: rgb(215, 215, 215);
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 0.5em;
}

.poke-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
}

.poke-type>img {
    width: 30%;
    margin: 0 0.2em;
    border: solid black 0.1em;
    border-radius: 10%;
    box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 1);
    transition: transform 100ms ease-in-out;
}


.card-body>div {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: gray;
}


.toggle-shiny {
    margin: 0 1em;
    width: 10%;
    height: 3em;
    background-image: url('../images/Shiny.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform 0.2s ease;
    border: none;
    background-color: transparent;
    cursor: pointer;
}





#content-pokemon {
    width: 90%;
    max-height: 90vh;
    /* Ajuste la hauteur dynamique */
    overflow-y: auto;
    /* Défilement vertical uniquement */
    overflow-x: hidden;
    /* Pas de défilement horizontal */
    margin: 0 auto;
    /* Centrage horizontal */
    padding: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* Aligne les cartes en haut */
    align-content: flex-start;
    /* Assure un bon alignement dans les colonnes */
    box-sizing: border-box;
    /* Inclut le padding dans les dimensions */
    scrollbar-width: thin;
    /* Scrollbar fine (Firefox) */
    gap: 0.8em;
    background-color: rgba(255, 255, 255, 0.811);
    box-shadow: 5px 4px 3px 0px rgba(0, 0, 0, 1);

}

#content-pokemon::-webkit-scrollbar {
    width: 10px;
}

#content-pokemon::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
}

.display-SP {
    margin: 0 1em;
    width: 10%;
    height: 3em;
    background-image: url('../images/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform 0.2s ease;
    border: none;
    background-color: transparent;
    cursor: pointer;
}