@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

body {
    padding-top: 3.3em;
    margin: 0;
    background-color: #e5e5f7;
    background-image: radial-gradient(#fe0f0f 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

h1 {
    margin: 0;
    padding: 0;
    width: 30%;
}

h2 {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    padding: 0.3em 0;
    background-color: black;
    color: white;
    border-bottom: 0.2em solid white;
}


main {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0.5em;
}

#btn-prev,
#btn-next {
    position: fixed;
    z-index: 100;
    top: 50%;
    background-image: url("../images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 5em;
    height: 5em;
    display: none;
}

#btn-prev {
    left: 0.5em;
    transform: scale(-1);
}

#btn-next {
    right: 0.5em;
}